<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iconic_raffleevent">

    <!--    Citation: Claude AI, 2024-10-28-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--    storage result permisssion-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!--    camera permission-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--    location permission-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IconicRaffleEvent"
        tools:targetApi="31">

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".view.EventListActivity"
            android:exported="false" />

        <activity
            android:name=".view.EventDetailsActivity"
            android:exported="false" />

        <activity android:name=".view.NewUserActivity"
            android:exported="false" />

        <activity
            android:name=".view.QRScannerActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".view.NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".view.RoleSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".view.HubActivity"
            android:exported="false" />

        <activity
            android:name=".view.NotificationSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".view.MapActivity"
            android:exported="false" />

        <activity
            android:name=".view.CreateFacilityActivity"
            android:exported="false" />

        <!-- api for google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLFHkJy-mM8fpvxMXgVd3Fz8VXEnav0iM" />

    </application>

</manifest>